// COLORS

$color-background: radial-gradient(#525252, #2d132c);

$color-extra: #2d132c;
$color-form: #d1d4c7;

$color-primary: #8bad23;
$color-secondary: #616f39;
$color-tertiary: #3e432e;

$color-shine: #9dc22d;
$image-heal: radial-gradient(#e05c5c, #ff6666);;
$color-heal: #e05c5c;
$color-heal-2: #ff6666;

$color-black: #000;
$color-grey: #525252;
$color-white: #fff;

.margin-top-small { margin-top: 2rem;}
.margin-top-medium { margin-top: 4rem;}
.margin-top-large { margin-top: 8rem;}
.margin-top-giant { margin-top: 20rem;}
