.margin-top-small {
  margin-top: 2rem; }

.margin-top-medium {
  margin-top: 4rem; }

.margin-top-large {
  margin-top: 8rem; }

.margin-top-giant {
  margin-top: 20rem; }

@keyframes loading {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Kulim Park', sans-serif;
  background-image: radial-gradient(#525252, #2d132c);
  background-size: fit;
  width: 100%;
  height: 100vh; }

hr {
  border: 1px solid #2d132c;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); }

.row-1-of-4 {
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.row-2-of-4 {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-size: cover;
  filter: blur(10px) brightness(30%);
  z-index: -1; }

.centerAll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center; }

.head_text {
  font-size: 4rem;
  text-transform: capitalize;
  color: #8bad23;
  text-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2); }

.secondary_text {
  font-size: 2.5rem;
  color: #616f39;
  text-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2); }

.input {
  width: 15rem;
  outline: none;
  border: none;
  line-height: 2.4rem;
  font-size: 2rem;
  padding: 2px .8rem;
  background-color: #d1d4c7;
  border: 1px solid #616f39;
  color: #616f39;
  box-shadow: -0.1rem 0.2rem 0.3rem rgba(45, 19, 44, 0.4) inset; }
  .input::placeholder {
    color: #616f39;
    opacity: .5; }
  .input:focus {
    outline: 2px solid #8bad23; }

.btn {
  font-size: 1.8rem;
  text-decoration: none;
  text-transform: uppercase;
  width: 12rem;
  padding: .8rem 1rem;
  border-radius: 1px;
  background-image: linear-gradient(to right, #8bad23, #9dc22d);
  color: #3e432e;
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.3);
  transition: all .3s;
  backface-visibility: hidden;
  text-align: center; }
  .btn:hover {
    box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.25);
    transform: translateY(-1px) scale(1.05); }
  .btn:active {
    box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.3);
    transform: translateY(-1px); }

.copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  margin: .5rem;
  color: #525252;
  font-weight: 100;
  font-size: 10px; }

.loading {
  height: 10rem;
  animation: loading 2s linear infinite; }

.gameCon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2; }

.game {
  z-index: 2; }
  .game__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 30%;
    z-index: 2; }
  .game__names {
    font-size: 24px;
    color: #8bad23;
    text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
    margin-bottom: 1.5rem; }
  .game__btn {
    height: 200px;
    -webkit-user-drag: none; }

.actionCon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  text-align: center;
  z-index: 2; }
  .actionCon__btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transition: all .2s;
    border-radius: 25%;
    width: 300px;
    font-size: 30px;
    color: #616f39;
    text-decoration: none;
    z-index: 2;
    margin: 5px 15px; }
    .actionCon__btn:hover {
      transform: translateY(-10px); }
    .actionCon__btn:active {
      transform: translateY(-5px); }

progress {
  width: 80%;
  height: 2rem;
  color: #000;
  border: 1px solid #e05c5c;
  font-size: 24px; }

progress[value]::-webkit-progress-bar,
progress[value] {
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }

progress[value]::-webkit-progress-value {
  background-color: #e05c5c;
  transition: all 0.2s ease-out; }

progress[value]::-moz-progress-bar {
  background-color: #e05c5c;
  transition: all 0.2s ease-out; }

.healthDisplay {
  color: #ff6666;
  padding: 1rem;
  font-size: 2.4rem; }

.remaining {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.remaining-tries-text {
  font-size: 30px;
  color: #525252;
  padding: .5rem;
  background-color: #e05c5c;
  font-weight: bold;
  display: inline-block; }

.loading {
  height: 10rem;
  animation: loading 2s linear infinite; }

.character_image {
  height: 24vh;
  width: auto;
  padding: 0rem 2rem; }

.select_padding {
  padding: 2rem 10rem; }

.monsterSide {
  display: flex;
  flex-direction: column;
  text-align: center; }

.difficulty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.hardOpt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .hardOpt__btn {
    margin: 5rem;
    background-image: radial-gradient(#e05c5c, #ff6666);
    width: 15rem; }

.selected {
  background-image: linear-gradient(to right, #616f39, #616f39);
  box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.4); }

#popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  #popup:target {
    opacity: 1;
    visibility: visible; }
  #popup:target #popup__content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  #popup__close:link, #popup__close:visited {
    color: #8bad23;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3.5rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1; }
  #popup__close:hover {
    color: #8bad23; }
  #popup__content {
    width: 30%;
    height: 30vh;
    background-image: radial-gradient(#525252, #2d132c);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transition: all .5s .2s; }

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh; }

.menuSub {
  padding-top: 100px;
  display: flex;
  margin: 0 auto;
  width: 50rem;
  justify-content: space-around;
  align-items: center; }

#preload {
  display: block;
  opacity: 0s;
  animation: fadeIn 3s .5s backwards;
  transition: opacity 1s; }

#start {
  display: none;
  animation: fadeIn 3s .5s backwards;
  opacity: 0; }

#game {
  display: none;
  animation: fadeIn 3s .5s backwards;
  opacity: 0; }

#win {
  display: none;
  animation: fadeIn 3s .5s backwards;
  opacity: 0; }
